<!DOCTYPE html>
<html ng-app="demoapp">

<head>
  <meta charset="utf-8">
  <title>
  </title>
  <script src="bower_components/leaflet/dist/leaflet.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js">
  </script>
  <script src='bower_components/firebase/firebase.js'></script>
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
  <!-- no bower -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <script src="ui-leaflet-1.0.0/dist/ui-leaflet.min.js"></script>
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css">
  <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">

  <script src="app.js"></script>
  <style media="screen">
  body {
padding: 0;
margin: 0;
}

html,
body,
.angular-leaflet-map {
  height: 100%;
}

  </style>
</head>

<body ng-controller="MarkersEventsAddController">
  <leaflet lf-center="center" layers="layers" markers="markers" event-broadcast="events" width="100%"></leaflet>
  </leaflet>
  <!-- Modal -->
  <div class="modal fade" id="bofModal" tabindex="-1" role="dialog" aria-labelledby="bofModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="bofModalLabel">Bof it!</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="messageText">What is this about</label>
            <textarea ng-model="newMessageText" class="form-control" id="messageText" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="startTime">Start time</label>
            <input id="newStartTime" ng-model="newStartTime" name="startTime" class="form-control" type="datetime-local">
          </div>
          <div class="form-group">
            <label for="startTime">End time</label>
            <input id="newEndTime" ng-model="newEndTime" name="endTime" class="form-control" type="datetime-local">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="postBof" data-dismiss="modal">Post BOF</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
